---
import '/src/styles/global.css'
import '@fontsource-variable/inter';
import interWoff2 from '@fontsource-variable/inter/files/inter-latin-wght-normal.woff2?url';
import Favicon from '@components/framework/Favicon.astro';
import Nav from '@components/framework/Nav.astro';

const { 
	title, 
	description, 
} = Astro.props;


const siteName = "mc.ai03.com"
const titleString = title === "Home" ? siteName : title + " - " + siteName

---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
	<head prefix="og: http://ogp.me/ns#">

		<!-- Page settings -->
		<meta name="robots" content="max-image-preview:large">
		<meta name="googlebot" content="index,follow">
		<meta name="format-detection" content="telephone=no">

		<!-- Misc page metadata -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- SEO and page details -->
		<title>{titleString}</title>
		<meta name="description" content={description} />

		<!-- Favicon tags -->
		<Favicon />

		<!-- Open graph -->
		<meta property="og:title" content={titleString} />
		<meta property="og:site_name" content="mc.ai03.com" />
		<meta property="og:type" content="website" />
		<meta name="og:image" content="https://mc.ai03.com/images/open-graph/og-default.jpg" />
		<meta name="og:image:alt" content="mc.ai03.com" />
		<meta property="og:url" content={`https://mc.ai03.com${Astro.url.pathname}`} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={titleString} />
		<meta name="twitter:image" content="https://mc.ai03.com/images/open-graph/og-default.jpg" />
		<meta name="twitter:image:alt" content="mc.ai03.com" />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:site" content="@ai03_2725" />

		<meta property="image" content="https://mc.ai03.com/images/open-graph/og-default.jpg" />

		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Preload fonts -->
		<link rel="preload" as="font" type="font/woff2" fetchpriority="low" href={interWoff2} crossorigin/>

	</head>
	<body style="margin: 0;">
		<div class="flex flex-col min-h-screen">
			<div class="order-2 grow">
				<slot />
			</div>
			<!-- <div class={`order-3 ${noFooterPadding !== true && "mt-20"}`}>
				<Footer />
			</div> -->
			<div class="order-1 z-10">
				<Nav transparent={false} lightMode={false} />
			</div>
		</div>
	</body>
</html>